# use bash syntax and quoting e.g. prefix_section_setting="value" (no space)

# irc auth
SOPEL_CORE_AUTH_USERNAME=user
SOPEL_CORE_AUTH_PASSWORD=pass

# github oauth
SOPEL_GITHUB_CLIENT_ID=hash
SOPEL_GITHUB_CLIENT_SECRET=hash
SOPEL_GITHUB_EXTERNAL_URL=url

# irc logs
SOPEL_LOG_LINK_LOGURL=url
